@model IEnumerable<Guitar>

<h2>Guitars</h2>

<div style="display: block">
    <a href="/Guitar/InsertGuitar/">Create a New Guitar</a>
</div>

<table class="table">
    <tr>
        <th>Guitar ID</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Guitar Type</th>
        <th>Price</th>
        <th>On Sale</th>
        <th>Best Suitable For</th>
    </tr>
    @{
        int counter = 1;
    }

    @foreach (var guitar in @Model)
    {
        <tr>
            @* <td><a href=/Guitar/ViewGuitar/@guitar.GuitarID>@guitar.GuitarID</a></td> *@
            <td><a href=/Guitar/ViewGuitar/@guitar.GuitarID>@counter</td>
            <td>@guitar.Brand</td>
            <td>@guitar.Model</td>
            <td>@guitar.GuitarType</td>
            <td>@guitar.Price</td>
            <td>@guitar.OnSale</td>
            <td>@guitar.ForSkillLevel</td>
        </tr>

        counter++;
    }

</table>